<nav class="container-fluid navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="home.html">
        <img src="../../../../Resources/LogoLuzam.png" alt="Logo" width="150" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbarNav collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item"><a class="nav-link" href="home.html">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="nosotros.html">ACERCA DE NOSOTROS</a></li>
            <li class="nav-item"><a class="nav-link" href="productos.html">PRODUCTOS</a></li>
            <li class="nav-item"><a class="nav-link" href="contactanos.html">CONTACTANOS</a></li>
        </ul>
        <button id="loginbtn" class="btn btn-primary btn-sm" href="login.html"> Ingresar </button>
    </div>
</nav>